body {
	background-color: #fff;
	font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	width: 80%;
	margin: 10px auto;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0;
	text-align: left;
}

tr {
	margin: 0;
	padding: 0;
	border: none;
}

td {
	margin: 0;
	padding: 0 1em 0 0;
	border: none;
}


#box_list {
	width: 20%;
	float: left;
}


#item_list {
	width: 80%;
	float: right;
}



ul.actions li {
	display: inline;
}