html {
height: 100%;
}

body {
	background-color: #eee;
	font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 0 3em;
	margin: 0;
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0;
	text-align: left;
}

tr {
	margin: 0;
	padding: 0;
	border: none;
}

td {
	margin: 0;
	padding: 0 1em 0 0;
	border: none;
}


#box_list {
	width: 20%;
	float: left;
}


#item_list {
	width: 80%;
	float: right;
}

ul.actions li {
	display: inline;
}

#navigation {
	background-color: #222;
	padding: .5em;
	text-align: center;
	color: #ddd;
	}

#navigation a {
	color: #ddd
	}

ul.navigation li {
	display: inline;
	padding: 0 .5em;
}



#newBoxNumber, #newBoxName {
padding: .5em;
}

#newBoxNumber {
width: 3em;
}

#newBoxName {
width: 8em;
}

#box_table tr:hover {
	cursor: pointer;
	background-color: #ddd;
}

#box_list {
	background-color: #eee;
}

#item_list {
background-color: #ddd;
height: 100%;
}